body
{
    height: 100%;

    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 20);
}

/* Customise the scrollbar */
body::-webkit-scrollbar-track
{
    background-color: rgb(40, 40, 40);
}
body::-webkit-scrollbar-track-piece
{
    background-color: rgb(80, 80, 80);
}

/* This contains all elements. */
.mainContainer
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    padding: 5px;
    margin-top: 5px;
    padding: 0px;
}

/* Contains the buttons to the left of the input/output area. */
.buttonBox
{
    height: 530px;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* The styling of each button. */
button
{
    min-width: 120px;
    padding: 5px;
    margin: 2px;

    text-align: center;
    font-size: 14px;

    border: solid rgb(0, 180, 0) 1px;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);

    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}
button:hover { background-color: rgba(0, 180, 0, 0.5); }

/* The container div for the output/input. */
.controlBox
{
    height: 530px;

    display: flex;
    flex-direction: column;
    flex-grow: 10;
    flex-shrink: 0;

    margin-left: 10px;
}

/* Our 'terminal' style text output. */
.outputBox
{
    height: 100%;

    margin: 2px;
    padding-left: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    
    font-size: 16px;

    border: solid rgb(40, 40, 40) 1px;
    border-radius: 5px;

    background-color: rgb(40, 40, 40);
}
/* A dummy element to work around vertical scrolling and
flex-box's 'justify-content' attribute not working. */
#initOutput
{
    margin-top: auto !important;
}

/* The styling for the output text. */
.output
{
    margin-top: 1px;
    margin-bottom: 0px;

    color: rgb(255, 255, 255);
}

/* The styling for the prover input box */
input
{
    margin: 5px 0px;
    padding: 2px 5px;
    box-sizing: border-box;

    font-size: 16px;
    outline: none;

    border: solid rgb(40, 40, 40) 2px;
    border-radius: 5px;

    background-color: rgb(200, 200, 200);
}
/* Styling for all input boxes */
input:focus { border: solid rgb(0, 180, 0) 2px; }
input::placeholder { color: var(--c, rgb(40, 40, 40)); }

/* The styling for the titles of the overlay divs */
.divTitle
{
    margin: 2px;

    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(40, 180, 180);
}
/* The styling for the div containing the overlay buttons */
.overlayBox
{
    margin: 3px;
    padding: 2px 5px;
    box-sizing: border-box;

    position: absolute;
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid rgba(20, 20, 20, 0.6) 1px;
    border-radius: 5px;

    background-color: rgba(20, 20, 20, 0.6);
}

/* The styling for the overlay butons */
#overlayBtn
{
    width: 200px;
    margin: 2px;

    border: solid rgb(40, 180, 180) 1px;
}
#overlayBtn:hover
{
    background-color: rgba(40, 180, 180, 0.8);
    font-weight: bold;
}
/* A blank button, used to appropriately space out the menu */
.blank
{
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    box-shadow: 0 0px 0px 0 rgb(0,0,0), 0 0px 0px 0 rgb(0,0,0);
}
.blank:hover
{
    cursor: initial;
    background-color: initial;
}
/* The styling for the overlay inputs */
.overlayInput
{
    width: 200px;
    box-sizing: border-box;

    padding: 2px;
    margin: 2px;
}
.overlayInput:focus { border: solid rgb(40, 180, 180) 2px; }
/* Special consideration for certain divs given their long option texts */
#returnBox.button {width: 300px}

/* The styling for the flags */
.flag
{
    width: 120px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 0px 0px 5px 5px;

    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}
/* The styling for the REqState flags */
#modifiedFlag
{
    right: 4%;
    background-color: rgba(180, 40, 40, 0.8);
}
#devFlag
{
    right: 14%;
    background-color: rgba(180, 40, 180, 0.8);
}
#currTheoryFlag
{
    display: flex;
    width: 200px;
    right: 34%;
    background-color: rgba(0, 180, 0, 0.8);
}